<div class="main">
    <form [formGroup]="form" (ngSubmit)="login()">
        <h4>Login</h4>
        <p>Entre em sua conta</p>
        <label for="basic-url" class="form-label">E-mail</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="email" formControlName="email" >
        </div>
    
        <label for="basic-url" class="form-label">Senha</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="password" aria-describedby="basic-addon3" formControlName="password">
        </div>


        <app-button text="Entrar"></app-button>

        <p>Ainda nãoo possui conta? <a [routerLink]="['/user/register']"><i>Crie a sua agora mesmo</i></a></p>
    </form>
    <div class="img">
        <img src="../../../../assets/login.svg" >
    </div>
</div>
