.chat {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar {
    height: 100%;
    width: 30%;
    background-color: #75a1de;
    padding: 1%;
    color: white;
    font-weight: bolder;
}
.sidebar > h4 {
    border-bottom: 2px solid #270080;
    padding: 2%;
    margin-bottom: 3%;
}
.main-chat {
    height: 100%;
    width: 70%;
    border-left: 2px solid #270080;
    padding: 1%;
}
.main-chat > h5 {
    border-bottom: 2px solid #270080;
    padding: 1%;
    margin-bottom: 3%;
    font-weight: bold;
}
input {
    width: 65%;
    border: 2px solid #270080;
    background-color: transparent;
    margin-top: 15%;
    position: absolute;
    bottom: 2px;
}
input:focus {
    background-color: transparent;
}